In [27]:
import numpy as np
import pandas as pd

In [28]:
# read the .dat file as in fixed-width format
qso_data = pd.read_fwf('dr7qso.dat')
qso_data

,1,2,3,4,5,6,7,8,9,10,...,66,67,68,69,70,71,72,73,Unnamed: 73,74
0,000006.53+003055.2,0.027228,0.515341,1.8246,20.384,0.065,20.461,0.034,20.324,0.038,...,20.324,0.038,20.093,0.041,20.042,0.121,588015509806252150,193034571183292416,SDSS,J000006.53+003055.2
1,000008.13+001634.6,0.033900,0.276301,1.8373,20.242,0.054,20.206,0.024,19.941,0.032,...,19.852,0.020,19.405,0.021,19.100,0.079,587731186740822166,193034571195875328,SDSS,J000008.13+001634.6
2,000009.26+151754.5,0.038604,15.298477,1.1985,19.916,0.042,19.807,0.036,19.374,0.017,...,19.393,0.018,19.173,0.019,19.353,0.070,587727222487318552,211612125330669568,SDSS,J000009.26+151754.5
3,000009.38+135618.4,0.039089,13.938450,2.2342,19.233,0.026,18.886,0.022,18.427,0.018,...,18.423,0.015,18.313,0.015,18.103,0.025,587727220876640410,211330580493631488,SDSS,J000009.38+135618.4
4,000009.42-102751.9,0.039271,-10.464426,1.8449,19.242,0.036,19.019,0.027,18.966,0.021,...,18.972,0.015,18.758,0.015,18.719,0.045,587727225690128474,183182688176308224,SDSS,J000009.42-102751.8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
105778,235958.21+005139.8,9.992552,0.861057,2.0387,19.247,0.034,18.985,0.021,18.770,0.017,...,18.560,0.010,18.483,0.014,18.243,0.032,588015510343122990,109153258559242240,SDSS,J235958.21+005139.7
105779,235958.66-011225.3,9.994452,-1.207033,1.7718,18.858,0.041,18.772,0.030,18.711,0.020,...,18.691,0.010,18.417,0.014,18.428,0.043,588015507658768405,193034570176659456,SDSS,J235958.66-011225.2
105780,235958.72+003345.3,9.994688,0.562592,1.6937,19.874,0.050,19.872,0.028,19.711,0.030,...,19.711,0.030,19.386,0.026,19.353,0.069,588015509806252129,193034571158126592,SDSS,J235958.72+003345.3
105781,235959.06-090944.0,9.996092,-9.162233,1.2834,18.421,0.021,18.352,0.015,18.140,0.024,...,18.153,0.015,18.114,0.015,18.073,0.025,587727227300741159,183182689220689920,SDSS,J235959.06-090944.0
105782,235959.44+000841.5,9.997675,0.144870,1.3542,20.999,0.113,20.864,0.038,20.391,0.035,...,20.391,0.035,20.437,0.048,20.070,0.150,588015509269381233,419343837115187200,SDSS,J235959.44+000841.5

In [24]:
# Because the .dat file is read in fixed width format, the last column is recognized as two columns since there is a space
# Therefore, the last two columns need to combined
qso_combined = qso_data.copy()  # copy the raw dataset
qso_combined['74'] = qso_combined['Unnamed: 73'] + ' ' + qso_combined['74']  # combine the last two columns
# remove the duplicated '73' column
qso_combined = qso_combined.drop(columns='Unnamed: 73')
qso_combined

,1,2,3,4,5,6,7,8,9,10,...,65,66,67,68,69,70,71,72,73,74
0,000006.53+003055.2,0.027228,0.515341,1.8246,20.384,0.065,20.461,0.034,20.324,0.038,...,0.034,20.324,0.038,20.093,0.041,20.042,0.121,588015509806252150,193034571183292416,SDSS J000006.53+003055.2
1,000008.13+001634.6,0.033900,0.276301,1.8373,20.242,0.054,20.206,0.024,19.941,0.032,...,0.017,19.852,0.020,19.405,0.021,19.100,0.079,587731186740822166,193034571195875328,SDSS J000008.13+001634.6
2,000009.26+151754.5,0.038604,15.298477,1.1985,19.916,0.042,19.807,0.036,19.374,0.017,...,0.024,19.393,0.018,19.173,0.019,19.353,0.070,587727222487318552,211612125330669568,SDSS J000009.26+151754.5
3,000009.38+135618.4,0.039089,13.938450,2.2342,19.233,0.026,18.886,0.022,18.427,0.018,...,0.016,18.423,0.015,18.313,0.015,18.103,0.025,587727220876640410,211330580493631488,SDSS J000009.38+135618.4
4,000009.42-102751.9,0.039271,-10.464426,1.8449,19.242,0.036,19.019,0.027,18.966,0.021,...,0.014,18.972,0.015,18.758,0.015,18.719,0.045,587727225690128474,183182688176308224,SDSS J000009.42-102751.8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
105778,235958.21+005139.8,9.992552,0.861057,2.0387,19.247,0.034,18.985,0.021,18.770,0.017,...,0.008,18.560,0.010,18.483,0.014,18.243,0.032,588015510343122990,109153258559242240,SDSS J235958.21+005139.7
105779,235958.66-011225.3,9.994452,-1.207033,1.7718,18.858,0.041,18.772,0.030,18.711,0.020,...,0.009,18.691,0.010,18.417,0.014,18.428,0.043,588015507658768405,193034570176659456,SDSS J235958.66-011225.2
105780,235958.72+003345.3,9.994688,0.562592,1.6937,19.874,0.050,19.872,0.028,19.711,0.030,...,0.028,19.711,0.030,19.386,0.026,19.353,0.069,588015509806252129,193034571158126592,SDSS J235958.72+003345.3
105781,235959.06-090944.0,9.996092,-9.162233,1.2834,18.421,0.021,18.352,0.015,18.140,0.024,...,0.012,18.153,0.015,18.114,0.015,18.073,0.025,587727227300741159,183182689220689920,SDSS J235959.06-090944.0
105782,235959.44+000841.5,9.997675,0.144870,1.3542,20.999,0.113,20.864,0.038,20.391,0.035,...,0.038,20.391,0.035,20.437,0.048,20.070,0.150,588015509269381233,419343837115187200,SDSS J235959.44+000841.5

In [25]:
# Since the last two has been successfully combined, now we need to remove the unnessary features based on domain knowledge
# By referencing the documentation of quasar catalog, the following columns should be removed with reasons listed below:
# 1. Based on the cosmology principle, the universe is homogeneous and isotropic -> does not depend on the position
# 2. The measurement error does not affect the properties of the object -> remove the error of measurement
# 3. Similar to #2, any telescope systematics should be removed because it is uncorrelated with celestial objects
remove_list = ['1', '2', '3', '6', '45', '46', '47', '48', '49', '50', '51', '52', '53', '63', '65', '67', '69', '71', '72', '73', '74']
qso_cleaned = qso_combined.drop(columns=remove_list)
qso_cleaned

,4,5,7,8,9,10,11,12,13,14,...,57,58,59,60,61,62,64,66,68,70
0,1.8246,20.384,20.461,0.034,20.324,0.038,20.093,0.041,20.042,0.121,...,0,0,1,0,0,20.384,20.461,20.324,20.093,20.042
1,1.8373,20.242,20.206,0.024,19.941,0.032,19.485,0.032,19.178,0.068,...,0,0,1,0,0,20.094,19.980,19.852,19.405,19.100
2,1.1985,19.916,19.807,0.036,19.374,0.017,19.148,0.023,19.312,0.069,...,0,0,1,0,0,19.912,19.770,19.393,19.173,19.353
3,2.2342,19.233,18.886,0.022,18.427,0.018,18.301,0.024,18.084,0.033,...,0,0,0,0,0,19.242,18.875,18.423,18.313,18.103
4,1.8449,19.242,19.019,0.027,18.966,0.021,18.775,0.018,18.705,0.047,...,0,0,1,0,0,19.160,19.011,18.972,18.758,18.719
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
105778,2.0387,19.247,18.985,0.021,18.770,0.017,18.525,0.033,18.423,0.036,...,0,0,0,0,0,19.079,18.753,18.560,18.483,18.243
105779,1.7718,18.858,18.772,0.030,18.711,0.020,18.488,0.020,18.455,0.037,...,0,0,1,0,0,18.813,18.677,18.691,18.417,18.428
105780,1.6937,19.874,19.872,0.028,19.711,0.030,19.386,0.026,19.353,0.069,...,0,0,0,0,0,19.874,19.872,19.711,19.386,19.353
105781,1.2834,18.421,18.352,0.015,18.140,0.024,18.114,0.022,18.045,0.036,...,0,0,0,0,0,18.372,18.353,18.153,18.114,18.073
105782,1.3542,20.999,20.864,0.038,20.391,0.035,20.437,0.048,20.070,0.150,...,0,0,0,0,0,20.999,20.864,20.391,20.437,20.070

In [43]:
#------------------------------------------------------------------------------------------------------------------------------------------#
# With the data cleaned, we also need to combine the target classification columns
# For example, currently the designation of star, galaxy, and quasar are separate, and we need to combine them into a single target column
# We want to have two versions, one version considers the distinction between low-z quasars and high-z quasars,
# and another version that does not consider this distinction.
# 0 = Unknown, 1 = Star, 2 = Galaxy, 3 = Low-z quasar, 4 = High-z quasar
# In addition, the target selection flag also has two algorithms: BEST and Target.
# Moving forward, column 37 will be the target selection flag for the BEST algorithm
# Column 54 will be the target selection flag for the Target algorithm
#------------------------------------------------------------------------------------------------------------------------------------------#

# Version 1 considers the distinction between low-z quasar and high-z quasar
qso_v1 = qso_cleaned.copy()
qso_v1['37'] = 0  # The BEST designation is initialized as 0, representing 'unknown'
qso_v1.loc[qso_v1['43'] == 1, '37'] = 1  # 1 stands for star
qso_v1.loc[qso_v1['44'] == 1, '37'] = 2  # 2 stands for galaxy
qso_v1.loc[qso_v1['38'] == 1, '37'] = 3  # 3 stands for low-z quasar
qso_v1.loc[qso_v1['39'] == 1, '37'] = 4  # 2 stands for high-z quasar
qso_v1['54'] = 0  # The Target designation is initialized as 0, representing 'unknown'
qso_v1.loc[qso_v1['60'] == 1, '54'] = 1  # 1 stands for star
qso_v1.loc[qso_v1['61'] == 1, '54'] = 2  # 2 stands for galaxy
qso_v1.loc[qso_v1['55'] == 1, '54'] = 3  # 3 stands for low-z quasar
qso_v1.loc[qso_v1['56'] == 1, '54'] = 4  # 2 stands for high-z quasar
qso_v1.drop(columns = ['38', '39', '40', '41', '42', '43', '44', '55', '56', '57', '58', '59', '60', '61'])

# Version 2 does not consider the distinction between low-z quasar and high-z quasar
qso_v2 = qso_cleaned.copy()
qso_v2['37'] = 0  # The BEST designation is initialized as 0, representing 'unknown'
qso_v2.loc[qso_v2['43'] == 1, '37'] = 1  # 1 stands for star
qso_v2.loc[qso_v2['44'] == 1, '37'] = 2  # 2 stands for galaxy
qso_v2.loc[(qso_v2['38'] == 1) | (qso_v2['39'] == 1), '37'] = 3  # 3 stands for quasar
qso_v2['54'] = 0  # The Target designation is initialized as 0, representing 'unknown'
qso_v2.loc[qso_v2['60'] == 1, '54'] = 1  # 1 stands for star
qso_v2.loc[qso_v2['61'] == 1, '54'] = 2  # 2 stands for galaxy
qso_v2.loc[(qso_v2['55'] == 1) | (qso_v2['56'] == 1), '54'] = 3  # 3 stands for quasar
qso_v2.drop(columns = ['38', '39', '40', '41', '42', '43', '44', '55', '56', '57', '58', '59', '60', '61'])

,4,5,7,8,9,10,11,12,13,14,...,34,35,36,37,54,62,64,66,68,70
0,1.8246,20.384,20.461,0.034,20.324,0.038,20.093,0.041,20.042,0.121,...,0,1,0,0,0,20.384,20.461,20.324,20.093,20.042
1,1.8373,20.242,20.206,0.024,19.941,0.032,19.485,0.032,19.178,0.068,...,0,1,0,0,0,20.094,19.980,19.852,19.405,19.100
2,1.1985,19.916,19.807,0.036,19.374,0.017,19.148,0.023,19.312,0.069,...,1,1,1,3,3,19.912,19.770,19.393,19.173,19.353
3,2.2342,19.233,18.886,0.022,18.427,0.018,18.301,0.024,18.084,0.033,...,1,1,1,3,3,19.242,18.875,18.423,18.313,18.103
4,1.8449,19.242,19.019,0.027,18.966,0.021,18.775,0.018,18.705,0.047,...,1,1,0,3,3,19.160,19.011,18.972,18.758,18.719
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
105778,2.0387,19.247,18.985,0.021,18.770,0.017,18.525,0.033,18.423,0.036,...,1,1,0,3,3,19.079,18.753,18.560,18.483,18.243
105779,1.7718,18.858,18.772,0.030,18.711,0.020,18.488,0.020,18.455,0.037,...,0,1,0,3,0,18.813,18.677,18.691,18.417,18.428
105780,1.6937,19.874,19.872,0.028,19.711,0.030,19.386,0.026,19.353,0.069,...,0,1,0,0,0,19.874,19.872,19.711,19.386,19.353
105781,1.2834,18.421,18.352,0.015,18.140,0.024,18.114,0.022,18.045,0.036,...,1,1,0,3,3,18.372,18.353,18.153,18.114,18.073
105782,1.3542,20.999,20.864,0.038,20.391,0.035,20.437,0.048,20.070,0.150,...,0,1,0,0,0,20.999,20.864,20.391,20.437,20.070

In [44]:
qso_v1.to_csv('qso_v1.csv', index=False)
qso_v2.to_csv('qso_v2.csv', index=False)